.footer__column-link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: white;
  transition: 0.40s opacity;
}
.footer__column-link:hover {
  opacity: 60%;
}
