.footer__column-link {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  display: block;
  transition: 0.40s opacity;
}
.footer__column-link:last-of-type {
  margin-bottom: 16px;
}
.footer__column-link:hover {
  opacity: 60%;
}
