.form__item {
  width: 100%;
  margin: 5px 0 15px;
  font-size: 18px;
  line-height: 1.15px;
  font-weight: normal;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0;
  outline: 1px solid black;
}
.form__item:focus {
  border: 0;
  outline: 2px solid #2f80ed;
}

